*{
  font-family: Arial, Helvetica, sans-serif;;
  scroll-behavior: smooth;
}

body{
  background-color: white
}

.profile {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 2px solid black;
}
